@define-color backgroundlight #000000;
@define-color backgrounddark #000000;
@define-color workspacesbackground1 #222831;
@define-color workspacesbackground2 #31363F;
@define-color bordercolor #000000;
@define-color textcolor1 #FFFFFF;
@define-color textcolor2 #FFFFFF;
@define-color textcolor3 #000000;
@define-color iconcolor #000000;
@define-color background #31363F;
@define-color color7 #EEEEEE;
@define-color color9 #E9C964;

* {
    font-size:15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar{
    all:unset;
}
.modules-left {
    padding: 1px 7px;
    margin: 10 0 0 10;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding: 1px 7px;
    margin: 10 0 0 0;
	box-shadow: none;
}
.modules-right {
    padding: 1px 7px;
    margin: 10 10 0 0;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
tooltip {
    background:@background;
    color: @color7;
}
#clock:hover,#wlr-taskbar:hover,#custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover,#custom-logout:hover,#power-profiles-daemon:hover,#backlight:hover,#pulseaudio:hover{
    transition: all .3s ease;
    color:@color9;
}

#workspaces {
    background: @workspacesbackground1;
    margin: 2px 1px 3px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 1;
    font-size: 16px;
    color: @color7;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @color7;
    background-color: @workspacesbackground2;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @color7;
    background: @workspacesbackground2;
    border-radius: 15px;
    min-width: 55px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @color7;
    background: @workspacesbackground2;
    border-radius: 15px;
    opacity:0.7;
}

#power-profiles-daemon {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#wlr-taskbar {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#custom-logout {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#clock{
    padding: 0px 5px;
    color:@color7;
    transition: all .3s ease;
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(@foreground,.7);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperaturei,#backlight,#pulseaudio{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@color7;
}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}
#tray{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}
